table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.buttonEdit {
    padding: 5px 30px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border: none;
    background-color:rgba(3, 169, 244, 0.8);
    border-radius: 6px;
}
.buttonDelete {
    padding: 5px 30px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border: none;
    background-color:#fc3441;
    border-radius: 6px;
}
th {
    text-align: center;
}
td {
    text-align: center;
}

input {
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: #f3f3f3;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    outline: none;
}

.components {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.components div {
    width: 30%;
}